body {
  background-color: black;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 100px;
  padding-bottom: 100px;
  /* background-color: #12085f; */
  /* background-color: rgb(42, 42, 45); */
  
}

.calc-wrapper {
  background: black;
  /* background-color: white; */
  color: white;
  width: 400px;
  border-radius: 16px;
  border: 1px solid white;
}

.row {
  display: flex;
}


.Footer{
  margin-top: 20px;
  color: antiquewhite;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;

  
}

.Navbar{
  color: white;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.Navbar ul{
  display: flex;
  
  list-style: none;
  align-items: center;
}

.Navbar ul li{
  margin-right: 15px;
}
.Navbar ul li a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
